.video {
    flex-basis: 31%;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 1.3em;
    cursor: pointer;
    transition: transform 260ms ease-in;
    border-radius: 8px;
    padding: 5px 0 0 0;
    position: relative;
}

.video:hover {
    transform: scale(1.04);
    animation: shaking 120ms ease-in ;
}
.video:hover > .video__titlebox {
    transform: translateY(-70px);
}

@keyframes shaking {
    0% {
        transform: rotate(2deg);
    }
    10% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(2deg);
    }
    30% {
        transform: rotate(-1deg);
    }
    40% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(2deg);
    }
    70% {
        transform: rotate(-1deg);
    }
    80% {
        transform: rotate(2deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    1000% {
        transform: rotate(1deg);
    }
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 0;
    padding: 0;
    z-index: 2;
}

.video__titlebox {
    z-index: -1;
    position: relative;
    top: 70px;
    padding: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wblack;
    transform: forward;
    line-height: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    transition: all 380ms ease-in;
}

.video__title {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.video__channel {
    font-weight: 100;
    margin: 2px;
    padding: 0;
}

@media screen and (max-width:1080px) {
    .video {
        flex-basis: 46%;
    }
}

@media screen and (max-width:767px) {
    .video {
        flex-basis: 95%;
    }
}