.channelItem {
    margin-right: 20px;
    margin-bottom: 12px;
    width: auto;
    position: relative;
}

.channelItem > img {
    border: 1px solid white;
    border-radius: 50%;
    height: 160px;
    width: auto;
    box-shadow: 3px 3px 8px 0 rgba(0,0,0,.4);
}
.channelItem > .channel__titlebox {
    z-index: 2;
    padding: 3px;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(56, 61, 119, .6);
}

/* .channel__titlebox:hover, .channel__title:hover {
    display: none;
} */

.channelItem:hover > .channel__titlebox {
    display: none;
}
.channel__title {
    text-align: center;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
    z-index: 5;
}